[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bama"]
	path = bama
	url = https://github.com/umich-cphds/bama
[submodule "gigg"]
	path = gigg
	url = https://github.com/umich-cphds/gigg
[submodule "lodi"]
	path = lodi
	url = https://github.com/umich-cphds/lodi
[submodule "medScan"]
	path = medScan
	url = https://github.com/umich-cphds/medscan
[submodule "messi"]
	path = messi
	url = https://github.com/umich-cphds/messi
[submodule "subgxe"]
	path = subgxe
	url = https://github.com/umich-cphds/subgxe
